* {
  box-sizing: border-box;
}

h1 {
  font-weight: bold;
  color: red;
  text-align: center;
  font-size: 20px;
}

.count{ 
  font-weight: bold;
  color: red;
  text-align: center;
  font-size: 40px;
}

.day{
 text-align: center;
}

ul {
  width: 100%;
  text-align: center;
}